In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob

In [2]:
# use glob to get all the csv files in the current working directory 'cwd'
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, 'TSETMC' ,'*.csv'))

In [4]:
# loop over the list of csv files
df = pd.DataFrame()
for f in csv_files:  
    # read the CSV files and filter some columns and use the date column as the index
    df_temp = pd.read_csv(f, index_col='<DTYYYYMMDD>', usecols=['<TICKER>', '<DTYYYYMMDD>', '<CLOSE>'])
    # change name column '<CLOSE>' to ticker symbol
    df_temp.rename(columns = {'<CLOSE>' : df_temp.iloc[0,0]}, inplace=True)
    # delete the ticker column because it causes overlap error
    df_temp.drop('<TICKER>', axis=1, inplace=True)
    # joins a new df_temp to df each time
    df = df.join(df_temp, how= 'outer')
df

              Asiatech-a  Daana Pharma Co-a  Meyar Sanat-a
<DTYYYYMMDD>
20120205             NaN                NaN        3412.42
20120207             NaN                NaN        3314.92
20120208             NaN                NaN        3314.92
20120429             NaN                NaN        3314.92
20131125             NaN                NaN         974.98
...                  ...                ...            ...
20220709         15340.0            29800.0       71950.00
20220711         15090.0            30450.0       70900.00
20220712         14800.0            29800.0       71000.00
20220713         15420.0            29750.0       72900.00
20220716         15820.0            31400.0       74050.00

[745 rows x 3 columns]

In [ ]:

# Create an empty data frame
df = pd.DataFrame(index=dates)

# Read SPY data into temp data frame
dfspy = pd.read_csv('D:/Temp/Stock Data/NYSE/SPY.csv', index_col= 'Date', parse_dates= True, usecols=['Adj Close', 'Date'])

# Rename Adj Close to SPY
dfspy = dfspy.rename(columns= {'Adj Close': 'SPY'})

# Join two data frames using DataFrame.join() ; how= 'inner' | 'outer' | 'left' | 'right' ; For Drop NaN Rows in df1
df = df.join(dfspy, how= 'inner')

# Read in more Stocks
symbols = ['GOOG', 'IBM', 'GLD']
for symbol in symbols:
    df_temp = pd.read_csv(f'D:/Temp/Stock Data/NYSE/{symbol}.csv', index_col= 'Date',
                          parse_dates= True, usecols= ['Adj Close', 'Date'])
    df_temp = df_temp.rename(columns= {'Adj Close': symbol})
    df = df.join(df_temp)

In [ ]:
df.head(3)

### Slice a portion of a data frame

In [ ]:
df1 = df['2021-07-12' : '2021-08-12'][['GOOG','GLD']] # '2021-07-12' to '2021-08-12'
df1.head(3)

In [ ]:
df.plot()
plt.xlabel('Date')
plt.ylabel('Price')
plt.title('Stock Price')
plt.show()

### Normalize price data

In [ ]:
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df.plot();

In [ ]:
normalized_df2=(df-df.mean())/df.std()
normalized_df2.plot();

In [ ]:
df.mean()

In [ ]:
df.std()

In [ ]:
df.median()

### bollinger bands

In [ ]:
rm_spy = dfspy.rolling(20).mean()
rstd_spy = dfspy.rolling(20).std()
plt.plot(rm_spy)
plt.plot(rm_spy + (2 * rstd_spy))
plt.plot(rm_spy - (2 * rstd_spy))
plt.plot(dfspy, c = 'black')
plt.xlabel('Date')
plt.ylabel('Price')
plt.title('SPY Price')
plt.legend(["Moving Avrage", "SPY"])
plt.show()

### compute daily returns pandas

In [ ]:
dr = df.pct_change()
dr.iloc[0 , :] = dr.iloc[0 , :].fillna(0)
dr.head(3)

In [ ]:
dr.head()

In [ ]:
plt.plot(dr)
plt.xlabel('Date')
plt.ylabel('Price')
plt.title('Daily Returns')
plt.legend(['SPY', 'GOOG', 'IBM', 'GLD'])
plt.show()

In [ ]:
df_SPY_GOOG = df[:][['SPY', 'GOOG']]
df_SPY_GOOG.head(3)

In [ ]:
dr_SPY_GOOG = df_SPY_GOOG.pct_change()
plt.plot(dr_SPY_GOOG)
plt.xlabel('Date')
plt.ylabel('Price')
plt.title('Daily Returns')
plt.legend(['SPY', 'GOOG'])
plt.show()

### pandas cumulative return

In [ ]:
pct_change_spy = dfspy.pct_change()  
pct_change_spy_plus_one = cr_spy.add(1)
cumulative_return = pct_change_spy_plus_one.cumprod().sub(1)
cumulative_return.mul(100).plot()
plt.ylabel('Percent')
plt.legend(['Cumulative Return'])
plt.show()